@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family:f1;  
    src:url(Passion_One/PassionOne-Regular.ttf) format('truetype'), url(Passion_One/PassionOne-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    }

    @font-face {
    font-family: f2;
    src: url(Sriracha/Sriracha-Regular.ttf) format('truetype'), url(Sriracha/Sriracha-Regular.ttf) format('truetype');
    }

/*----------------------------------------------título---------------------------------------------*/

/*------------------------------------------------Q1--------------------------------------------------*/
